<div
  id="shopify-block-18228966181090706294"
  class="shopify-block shopify-app-block"
>
  <script type="lazyload_int"
    data-w3-type="module"
    data-src="https://cdn.shopify.com/extensions/b1f9f5d2-e22f-433d-8d01-c106a53ee206/selleasy-7/assets/lb-upsell-components.esm.js"
  ></script>
</div>
<div id="shopify-block-18228966181090706294" class="shopify-block shopify-app-block">
<script data-w3-type="module"  type="lazyload_int" data-src="https://cdn.shopify.com/extensions/b1f9f5d2-e22f-433d-8d01-c106a53ee206/selleasy-7/assets/lb-upsell-components.esm.js" ></script>

</div>