{% if product %}
<div class="easysearch-fitment-widget easysearch-hidden">
  <div class="easysearch-fitment-loader">
    <div class="easysearch-fitment-icon">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="13" width="4" height="5" fill="#bbb"><animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s" repeatCount="indefinite"></animate><animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s" repeatCount="indefinite"></animate></rect>
        <rect x="10" y="13" width="4" height="5" fill="#bbb"><animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate><animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate></rect>
        <rect x="20" y="13" width="4" height="5" fill="#bbb"><animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate><animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate></rect>
        </svg>
    </div>
  </div>
  <div class="easysearch-fitment-search-widget easysearch-hidden">
    <h4 class="easysearch-fitment-header"></h4>
    <div class="easysearch-widget">
  <div class="easysearch-container">
    <div class="easysearch-header-holder"></div>
    <div class="easysearch-main-holder">
      <div class="easysearch-logo-holder"></div>
      <div class="easysearch-holder easysearch-loading"></div>
    </div>
    <div class="easysearch-footer-holder"></div>
    <div class="easysearch-ancillary-holder easysearch-hidden">
      <style class="easysearch-necessary-styles">.easysearch-hidden{display:none !important;}</style>
      <script type="text/javascript">document.addEventListener('easysearch_init', function(e){easysearch.settings = {"form":{"db":"\/\/cdn.shopify.com\/s\/files\/1\/1101\/5888\/t\/2\/assets\/neodrift-india_myshopify_com.csv?v=1689921783","active_widgets":"3","ranged_field":-1,"autoredirect":"0","btn_show":"1","search_within_collection":"1","tag_filter":"0","search_tag_filter":"0","btn_text":"Search","btn_color":"499dd8","layout_mode":"1","logo_image":"","styles":".index .easyContainer { background: #19277c !important; }\r\n.easyContainer .easysearch-select-holder { min-width: 20% !important; }\r\n.easyContainer .easysearch-select-holder label { color:white !important; }\r\n.easyContainer .easysearch-select-holder select { padding: 10px 25px 8px 15px !important; }\r\n.easyContainer .easysearch-holder { width:100% !important; }\r\n@media only screen and (max-width: 768px) {\r\n    .easyContainer .easysearch-select-holder { width: 37% !important; }\r\n    .easyContainer .easysearch-select-holder select { \r\n        font-size:11px !important; \r\n        height:36px !important;\r\n    }\r\n    .easyContainer .easysearch-container { padding:20px 0 !important; }\r\n    .easysearch-vertical-mode .easysearch-actions-holder{ display:inline-block !important; }\r\n    .easysearch-vertical-mode .easysearch-main-holder{ display: flex !important; }\r\n    .easysearch-vertical-mode .easysearch-holder .easysearch-select-holder{\r\n        display: inline-block !important;\r\n        margin: 0 3px 6px !important;\r\n    }\r\n    .easysearch-vertical-mode .easysearch-btn-holder label,\r\n    .easysearch-vertical-mode .easysearch-clear-holder label{ display:inline-block !important; }\r\n    .container.container--flush .boost-pfs-filter-left-col {display:none !important; }\r\n}\r\n\r\n.easyCollection .easysearch-widget {\r\n    background: #19277c !important;\r\n    padding: 0 var(--mobile-container-gutter) !important;\r\n}\r\n@media only screen and (max-width: 640px) {\r\n    .easyCollection .easysearch-widget {margin-top: 15px !important;}\r\n}"},"fields":[{"field_id":"11593","title":"Make","placeholder":"Select Make","hide_title":"0","sort_order":"1"},{"field_id":"11594","title":"Model","placeholder":"Select Model","hide_title":"0","sort_order":"1"}]};easysearch.buildWidgets();});</script>
      <script type='text/javascript' src='{% unless request.design_mode or canonical_url contains 'shopifypreview.com' %}//{{ shop.domain }}{% endunless %}/apps/easysearch/easysearch-1.0.1.js' data-no-instant></script>
    </div>
  </div>
</div>
  </div>
  <div class="easysearch-fitment-holder easysearch-hidden">
    <div class="easysearch-fitment-results">
      <div class="easysearch-fitment-icon-holder">
        <div class="easysearch-fitment-icon">
          <svg class="easysearch-fitment-icon-success" width="18px" viewBox="0 0 18 18"><path d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"/></svg>
          <svg class="easysearch-fitment-icon-fail" width="32px" viewBox="0 0 512 512"><path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"/></svg>
        </div>
      </div>
      <div class="easysearch-fitment-details">
        <h4 class="easysearch-fitment-header"></h4>
        <div class="easysearch-fitment-params-holder easysearch-fitment-text">
          <span class="easysearch-fitment-params easysearch-fitment-text"></span>
          <span class="easysearch-fitment-change"></span>
        </div>
      </div>
    </div>
    <div class="easysearch-fitment-other-results easysearch-fitment-text"></div>
  </div>
  {% capture esfpc %}{% for c in product.collections %}{{ c.handle }},{% endfor %}{% endcapture %}
  <script>document.addEventListener('easysearch_loaded', function(){easysearch.initFitmentWidget({ allProductTags: {{ product.tags | json }}, allProductCollections: {{ esfpc | split: ',' | json }} });});</script>
  </div>
{% endif %}
{% schema %}
{
  "name": "EasySearch Fitment Widget",
  "tag": "section",
  "class": "easysearch-fitment-section-container",
  "presets": [{
    "name": "EasySearch Fitment Widget",
    "category": "EasySearch"
  }],
  "templates": ["product"]
}
{% endschema %}